<article id="content-wrapper" class="content-wrapper">
  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="isLoaded">

    <section *ngIf="item" id="detail-content-dinosaur" class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-center">{{ item.name }}</h2>
      </div>
      {{ item.img }}
      <div class="panel-body">
        <p class="lead" [innerHTML]="item.info"></p>
      </div>

      <div class="panel-footer">
        <a routerLink="/">&larr; All Items</a>
      </div>
    </section>

    <p *ngIf="error" class="alert alert-danger">
      There was an error retrieving data.
    </p>
  </div>

</article>
