.home-search {
  margin-bottom: 20px;
}
input {
  width: 100%;
}
header {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  border: 1px solid #f38bd3;
  border-radius: .3rem;
  h2 {
    font-weight: 600;
    color: #f38bd3;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
