/*--------------------
        FOOTER
--------------------*/

@import '../../assets/css/partials/layout.vars';
@import '../../assets/css/partials/responsive.partial';

:host {
  padding: $padding-screen-small;
  text-align: center;

  @include mq($large) {
    padding: $padding-screen-large;
  }
}
