body {
  min-width: 320px;
}
.layout-overflow {
  overflow: hidden;
}
.layout-canvas {
  position: relative;
  left: 0;
  width: 100%;

  backface-visibility: hidden;

  .csstransforms3d & {
    transition: transform 250ms ease;
    transform: translate3d(0,0,0);
  }
  .csstransforms3d &.nav-open {
    transform: translate3d(270px,0,0);
  }
  .no-csstransforms3d &.nav-open {
    left: 270px;
  }
}

.header .nav {
  position: absolute;
  top: 0;
  display: none;
  width: 270px;
  height: 100%;
  overflow-y: auto;

  backface-visibility: hidden;

  .nav-closed &,
  .nav-open & {
    display: block;
  }
  .csstransforms3d & {
    transform: translate3d(-100%,0,0);
  }
  .no-csstransforms3d .nav-closed & {
    left: -100%;
  }
  .no-csstransforms3d .nav-open & {
    left: -270px;
  }
}
